<p id="notice"><%= notice %></p>

<h1>Listing Treats</h1>

<table>
  <thead>
    <tr>
      <th>T date</th>
      <th>Patient</th>
      <th>Doctor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treats.each do |treat| %>
      <tr>
        <td><%= treat.t_date %></td>
        <td><%= treat.patient %></td>
        <td><%= treat.doctor %></td>
        <td><%= link_to 'Show', treat %></td>
        <td><%= link_to 'Edit', edit_treat_path(treat) %></td>
        <td><%= link_to 'Destroy', treat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treat', new_treat_path %>
