<header>
<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
<nav class="round">
<ul>
<li><%= link_to "Doctor", '/doctors' %></li>
<li><%= link_to "Treat", '/treats' %></li>
<li><%= link_to "Patient", '/patients' %></li>
<li><%= link_to "Index", '/' %></li>
</ul>
</nav>
</header>
